<h3>Please Leave A Comment</h3>

<%= bootstrap_form_for(@comment) do |f| %>
<div>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<%end%>
